<main>
        <div class="profile">
            <h1> This is your admin profile - Welcome! :)</h1>
            <button id="edit" type="submit">Edit Profile</button>
            <button id="logout" type="submit">Log Out</button>
            <section class="personal-information">
                <p>Name : Admin1</p>
                <p>Email : admin@mail.com</p>
            </div>
            <div class="admin_panel">
                <p>Administration panel :</p>
                <a href="admin/create_page">Pages</a>
                <a href="admin/create_product">Products</a>
                <a href="admin/create_user">Users</a>
            </div>
    </main>