<main>
    <div class="profile">
        <h1> This is your profile - Welcome! :)</h1>
        <button id="edit" type="submit">Edit Profile</button>
        <button id="logout" type="submit">Log Out</button>
        <section class="personal-information">
            <p>Name : User1</p>
            <p>Email : user@mail.com</p>
        </div>
</main>